@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
body{
    overflow-x: hidden;
}
#start{
    background-color: #f7ca18;
    height: 12px;
}

#logo{
    height: 60px;
}

#nameLogo{
    font-family: 'Ultra', serif;
    text-transform: uppercase;
}

#messageForUsers{
    background-color: #000;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

main #shieldCap{
    height: 350px;
}

main #babyYoda{
    height: 200px;
}

#contactFooter{
    background-color: #0c2461;
    color: #FFF;
}


#itens .productBlack{
    max-height: 172px; 
}

#itens .productSell{
    position: relative;
}

#itens .promoPORC{
    max-height: 45px;
    position: absolute;
    top: 1px;
    right: 1px;
}

footer p a{
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}